    <%# Include the header module (partial) %> 
    <%- include('./partials/head.ejs') %> 

    <h1>Welkom bij index</h1>
    <p><%= subtitle %></p>
    <main>
        <h2>Astronomy Pictures</h2>
        <p>Pictures taken from space or about space. Featured daily on the Astronomy Picture of the Day site by NASA. Enjoy this random pick of some of their beautiful (and sometimes weird) pictures:</p>
        <section class="astronomy">
            <% if (data.length > 0) { %> 
                <% data.forEach(item => { %>
                    <article>
                        <figure>
                            <img src="<%= item.url %> " alt="<%= item.title %> ">
                        </figure>
                        <h2><%= item.title %></h2>
                        <p>Featured on:</p>
                        <p><%= item.date %></p>
                        <a href="astronomy/<%= item.date %>">About this photo</a>
                    </article>
                <% }) %> 
            <% } else { %> 
            <p>Oops! There are currently no blog items to display.</p>
            <% } %> 
        </section>
    </main>

    <%# Include the header module (partial) %> 
    <%- include('./partials/footer.ejs') %> 