    <%# Include the header module (partial) %> 
    <%- include('./partials/head.ejs') %> 
    <main>
        <h2>Astronomy Pictures</h2>
        <p>Pictures taken from space or about space. Featured daily on the Astronomy Picture of the Day site by NASA. Enjoy this random pick of some of their beautiful (and sometimes weird) pictures:</p>
        <section class="astronomy">
            <% if (astronomyData && astronomyData.length > 0) { %> 
                <% astronomyData.forEach(item => { %>
                    <article>
                        <figure>
                            <% if (item.media_type === "video") { %> 
                                <iframe src="<%= item.url %>" frameborder="0" title="astronomy video" allowfullscreen></iframe>
                            <% } else if (item.media_type === "image") { %> 
                                <img src="<%= item.url ? `https://res.cloudinary.com/hvacmd/image/fetch/f_auto,q_auto,w_360,h_260,c_fill/${item.url}` : '/img/no-picture.png' %> " alt="<%= item.title %> ">
                            <% } else { %>  
                                <img src="/img/no-picture.png" alt="image not found">
                            <% } %>                        
                        </figure>
                        <h2><%= item.title ? item.title : 'No words to describe this image...' %></h2>
                        <p>Featured on:</p>
                        <p><%= item.date ? getDate(item.date) : 'A day in the universe' %></p>
                        <a href="astronomy/<%= item.date %>">About this photo</a>
                    </article>
                <% }) %> 
            <% } else { %> 
                <article class="error">
                    <p>Oops! There are currently no items to display.</p>
                    <p>Try to refresh the page and try again.</p>
                </article>
            <% } %> 
        </section>
        <h2>Rover Pictures</h2>
        <p>Pictures taken by the Mars rover robots.</p>
        <section class="rovers">
            <% if (roverData && roverData.length > 0) { %> 
                <% roverData.forEach(item => { %>
                    <% const roverImg = item.photos[0].img_src.startsWith("https") ? item.photos[0].img_src : item.photos[0].img_src.replace("http", "https"); %> 
                    <article>
                        <figure>
                            <img src="<%= `https://res.cloudinary.com/hvacmd/image/fetch/f_auto,q_auto/${roverImg}` %>" alt="<%= item.photos[0].rover ? `picture from mars by ${item.photos[0].rover.name} rover` : 'picture from mars' %>">
                        </figure>
                        <h2><%= item.photos[0].rover ? item.photos[0].rover.name : 'Unknown rover' %></h2>
                        <p><%= item.photos[0].earth_date ? getDate(item.photos[0].earth_date) : 'A day in the universe' %></p>
                        <a href="rover/<%= item.photos[0].rover.name %>/<%= item.photos[0].sol %>">More details</a>
                    </article>
                <% }) %> 
            <% } else { %> 
                <article class="error">
                    <p>Oops! There are currently no items to display.</p>
                    <p>Try to refresh the page and try again.</p>
                </article>
            <% } %> 
        </section>
    </main>

    <%# Include the header module (partial) %> 
    <%- include('./partials/footer.ejs') %> 