<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> • Pictures from Space</title>
</head>
<body>
    <h1>Welkom bij index</h1>
    <p><%= subtitle %></p>

    <h2>All blogs:</h2>
    <% if (data.length > 0) { %> 
        <% data.forEach(item => { %>
            <article>
                <figure>
                    <img src="<%= item.url %> " alt="<%= item.title %> ">
                </figure>
                <h2><%= item.title %></h2>
                <p><%= item.date %></p>
                <a href="astronomy/<%= item.date %>">About this photo</a>
            </article>
        <% }) %> 
    <% } else { %> 
    <p>There are no blog items to display</p>
    <% } %> 
</body>
</html>